/* ---------------------------------------------------
                     GLOBAL                
--------------------------------------------------- */

body {
    background-color: steelblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
h1 span{
    font-size: 1.3em;
}
h2{
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    padding-top: 10%;
    margin: 0;
}
.hidden {
    display: none;
}

.header-btns a:hover{
    color: steelblue;
}

.fa-linkedin{
    color: #2867B2;
}
.fa-github{
    color: black;
}
.fa-github:hover, .fa-linkedin:hover{
    opacity: 0.7;
}

/* ---------------------------------------------------
                     NAV                
--------------------------------------------------- */

nav a {
    color: white;
}
nav a:hover{
    opacity: 0.7;
}
nav{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: steelblue;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    z-index: 5;
}
nav p {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
}
/* ---------------------------------------------------
                     JUMBOTRON                
--------------------------------------------------- */


header, section {
    min-height: 100vh;
    width: 100%;
}

#jumbotron-dropshadow{
    width: 100%;
    height: 100%;
    background-color: orange;
    position: absolute;
    z-index: -1;
}



header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jumbotron{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #EBEBEB;
    width: 60vw;
    padding: 2%;
    font-size: 1.75rem;
    font-family: 'Amatic SC', cursive;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
border-left: orange 10px solid;
}
.jumbotron-top{
    display: flex;
    padding-bottom: 1em;
    border-bottom: lightgray solid 2px;
}
.jumbotron-bottom{
    display: flex;
    margin-top: 1em;
    
    justify-content: center;
}
.jumbotron-left{
    width: 80%;
}
.jumbotron-right{
    width: 20%;
}

.jumbotron h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    
}
.jumbotron h5{
margin-top: 0;
margin-left: .5em;
font-family: 'Roboto', sans-serif;
}


.header-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 6rem;
}
.header-btns{
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-size: 1.25em;
}
#contact{
    background-color: #B6D4E7;
}
#projects{
    background-color: #5E99C5;
}

main{
    position: relative;
}


/* ---------------------------------------------------
ABOUT CONTACT                
--------------------------------------------------- */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutTop{
    width: 70vw;
    height: 15vh;
    background-color: white;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}


.about-btn{
    width: 60%;
    font-size: 3rem;
}
.contact-btn{
    width: 30%;
    height: 50%;
    align-self: flex-end;
    font-size: 1.5rem;
}

.aboutBody{
    width: 60vw;
    height: 50vh;
    background-color: white;
}



/* ---------------------------------------------------
                     PROJECTS                
--------------------------------------------------- */

#projects{
    text-align: center;
}

.projects-grid{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.project{
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 300px;
    background-color: green;
    margin: 3%;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
}

.project:hover {
    -webkit-box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -1px rgba(0,0,0,0.75);
}

.project-bottom{
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}


/* FOOTER */
footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}