/* ---------------------------------------------------
                     GLOBAL                
--------------------------------------------------- */
:root {
    --primary: #58859D;
    --secondary: orange;
    --dark: #022c43;
    --light: #EBEBEB;
    --lessdark: #053f5e;
  }
body {
    background-color: var(--primary);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
button:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
h1 span{
    font-size: 1.3em;
}
h2{
    font-size: 3em;
    padding-bottom: 5%;
    margin: 0;
}
.hidden {
    display: none;
}
.header-btns a{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.fa-github{
    color: black;
} 
.fa-linkedin {
    color: #2867B2;
}




/* ---------------------------------------------------
                     NAV                
--------------------------------------------------- */
nav{
    background-color: var(--dark);
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 60px;
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2rem 0 0;
}

nav ul>li{
    margin: 1rem;

}
.nav-link{
    color: white;
    font-size: 1.5rem;
}
.nav-link:hover{
    border-bottom: 2px solid var(--secondary);
    opacity: 1;
}


/* ---------------------------------------------------
                     JUMBOTRON                
--------------------------------------------------- */

header{
    min-height: 95vh;
    width: 100%;
}
section {
    min-height: 100vh;
    width: 100%;
}

#jumbotron-dropshadow{
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    position: absolute;
    z-index: -1;
}



header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--light);
    width: 60vw;
    padding: 2%;
    font-size: 1.75rem;
    font-family: 'Amatic SC', cursive;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
border-left: var(--secondary) 10px solid;
}
.jumbotron-top{
    display: flex;
    padding-bottom: 1em;
    border-bottom: lightgray solid 2px;
}

.jumbotron-fun-icons{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.jumbotron-bottom{
    display: flex;
    margin-top: 1em;
    font-size: .75em;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
}
.jumbotron-left{
    width: 80%;
}
.jumbotron-right{
    width: 20%;
}

.jumbotron h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    
}
.jumbotron h5{
margin-top: 1em;
margin-left: .5em;
font-family: 'Roboto', sans-serif;

}


.header-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 6rem;
    
}
.header-icons a:hover{
    opacity: .7;
}

.header-btns{
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 1.25em;
    
}
.header-btns i {
    margin-top: .5em;
}

.header-btns a:hover{
    color: var(--primary);
}
#contact, #about{
    background-color: var(--light);
}
#projects{
    background-color: var(--primary);
    padding-bottom: 10rem;
}

main{
    position: relative;
}
 

/* ---------------------------------------------------
ABOUT               
--------------------------------------------------- */
#about{
    padding: 5rem 0 5rem 0;
}


.about-container  h1 {
    font-size: 4em;
    margin: 0 0 1rem;
    font-family: serif;
    position: relative;
  }
 .about-container h1::after {
    content: '';
    position: absolute;
    width: 6rem;
    background-color: #ccc;
    height: 2px;
    top: 0;
    left: 0;
  }

 .about-container p {
    margin-top: 0;
    margin-bottom: var(--box-y-padding);
    line-height: 1.5;
  }
 .about-container .content a {
    text-decoration: none;
    border: 1px solid #b3b3b3;
    padding: 1em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: inherit;
    display: inline-block;
    background-color: #fff;
  }
 .about-container .img {
    position: relative;
  }
 .about-container .img a {
    position: absolute;
    left: 0;
    bottom: 0;
  }
 .about-container img {
    max-width: 100%;
    vertical-align: middle;
    box-shadow: 0 0.2em 1.2em rgba(61,48,41,0.1);
  }
  
  .about-bottom{
      display: flex;
      justify-content: space-around;
      text-align: center;
  }
  .about-bottom a {
      padding: 1rem;
      width: 30%;
  }
.about-bottom a:nth-child(1){
    background-color: var(--primary);
    color: white;

}
.about-bottom a:hover{
    border-radius: 0;
    border: 1px double black;
  }
.about-bottom a>i{
    margin-top: .5em;
    font-size: 1rem;
}
  @media (min-width: 40em) {
    :root {
      --box-y-padding: 4rem;
    }
  }
  @media (min-width: 60em) {
    :root {
      --box-x-padding: 3rem;
      --box-y-padding: 6rem;
    }
  }
  @media (min-width: 40em) {
    .about-container {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: 4fr 4fr 5fr;
      grid-template-areas: '. . title' 'img img content' 'img img .';
      max-width: 1000px;
      margin-right: auto;
      margin-left: auto;
      
    }
    .about-container::after {
      content: '';
      grid-column: 2/-1;
      grid-row: 1/3;
      position: relative;
      z-index: 1;
      background: #fff;
      box-shadow: 0 0.2em 1em rgba(61,48,41,0.2);
      border-left: var(--secondary) 10px solid;
    }
    .about-container h1 {
      grid-area: title;
      padding-top: var(--box-y-padding);
      padding-left: var(--box-x-padding);
      z-index: 3;
    }
    .about-container .content {
      grid-area: content;
      padding-bottom: var(--box-y-padding);
      padding-left: var(--box-x-padding);
      padding-right: var(--box-x-padding);
      z-index: 3;
    }
    .about-container .img {
      grid-area: img;
      z-index: 2;
    }
  }
  
  @media (min-width: 40em) {
  .about-container  h1::after {
      left: var(--box-x-padding);
      top: var(--box-y-padding);
    }
  }
  .about-container .content {
    color: #4d4d4d;
    margin-bottom: var(--box-y-padding);
  }
  @media (min-width: 40em) {
  .about-container  .content {
      margin-bottom: 0;
    }
  }



/* ---------------------------------------------------
                     PROJECTS                
--------------------------------------------------- */

#projects{
    text-align: center;
    min-height: 100vh;
}

.projects-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.project-container-right, .project-container-left{
    margin-top: 10rem;
    position: relative;
    display: flex;
    background-color: white;
    width: 80%;
    height: 70vh;
    z-index: 2;
    max-width: 1144px;
    position: relative;
    box-shadow: 0 0.2em 1em rgba(61,48,41,0.2);
}

.project-container-left{
    flex-direction: row-reverse;
}
.project-left{
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
.project-center{
    width: 55%;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.project-center img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--secondary);

}
.project-action{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: var(--light);
}
.project-container-left .project-action{
    flex-direction: row-reverse;
}
.project-action a{
    text-decoration: none;
    border: 1px solid #b3b3b3;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.25rem;
    color: white;
    display: inline-block;
    background-color: var(--primary);
    margin-bottom: 1em;
}
.project-action i {
    font-size: 2rem;
    color: white;
}
.project-action a:nth-child(2){
    background-color: black;
}

.project-action a:hover {
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transform: scale(1.15,1.15);
    transition: all 0.4s ease 0s;
    opacity: .7;
    }


.project-right h2{
    padding-top: 1.5em;
    border-bottom: 2px solid var(--secondary);
}

.project-lang{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
   
}
.project-lang li {
    padding: .5em;
}
.project-right{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    padding: 0 2em;

}
.project-right p {
    letter-spacing: 1.5px;
}

.sidebar-top{
    background-color: white;
    width: 100%;
    height: 50%;
}
.sidebar-bottom{
    background-color: var(--secondary);
    width: 100%;
    height: 50%;
}

.project-right h4{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px solid var(--secondary);
}


/* ---------------------------------------------------
                     CONTACT                
--------------------------------------------------- */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact h2{
    margin-top: 2em;
}
.contact-container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.contact-container .card {
    position: relative;
    border-radius: 10px;
}

.contact-container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f00;
    transition: 0.7s;
    z-index: 1;
}

.contact-container .card:nth-child(1) .icon {
    background-color: #2867B2;
}

.contact-container .card:nth-child(2) .icon {
    background-color: #34A853;
}

.contact-container .card:nth-child(3) .icon {
    background-color: black;
}


.contact-container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.contact-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.contact-container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.contact-container .card .face.face1 {
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.contact-container .card:hover .face.face1{
    background-color: #ff0057;
    transform: translateY(0px);
}

.contact-container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.contact-container .card:hover .face.face1 .content {
    opacity: 1;
}

.contact-container .card .face.face1 .content i{
    max-width: 100px;
}

.contact-container .card .face.face2 {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.contact-container .card:hover .face.face2{
    transform: translateY(0);
}

.contact-container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.contact-container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.contact-container a {
    text-decoration: none;
    color: #414141;
}
.contact-container a:hover{
    border-bottom: var(--secondary) 3px solid;
}


/* ---------------------------------------------------
                     FOOTER                
--------------------------------------------------- */

footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: white;
}

/* ---------------------------------------------------
                     MEDIA QUERIES                
--------------------------------------------------- */
@media(max-width: 799px) {
    nav .nav-link{
        font-size: 1em;
    }
    /* Jumbotron Section */
    .jumbotron{
        width: 90%;
        font-size: 1.5rem;
    }
    #jumbotron-dropshadow{
        display: none;
    }
    .header-icons{
        font-size: 5rem;
    }
    .jumbotron-bottom{
        font-size: .75rem;
    }
    /* About Section */
    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-container{
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .about-bottom{
        margin: 2em 0;
    }
    .img{
        order: 1;
        border-left: var(--secondary) 10px solid;
    }
    .content{
        margin: 2em;
        order: 2;
    }
    /* Projects Section */

    .project-container-left, .project-container-right{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20em;
        background-color: transparent;
        box-shadow: none;
    }
    .project-center{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        width: 100%;
    }
    .project-center img, .project-action{
        width: 100%;
    }
    .project-center img {
        display: none;
    }
    .project-action{
        padding: 0 2em;
    }
    .project-right{
        width: 100%;
        order: 1;
    }
    .project-left{
        display: none;
    }
    .project-action a  {
        font-size: 1em;
        margin: 2em 0;
        height: 10%;
        
    }

    .project-action i{
        transform: translateY(-10px);
    }

    /* Contact Section */
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contact-container .card .face.face2{
        transform: translateY(0);
    }
    .contact-container .card .face.face1{
        background-color: #ff0057;
        transform: translateY(0px);
    }
    .contact-container .card{
        margin: 3em 0;
    }
    
}