/* GLOBAL */
body {
    background-color: steelblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}

.fa-linkedin:hover{
    color: #2867B2;
}
.fa-github:hover{
    color: gray;
}

nav .fa-linkedin:hover, nav .fa-github:hover{
    color: white;
}
nav a:hover{
    color: white;
}

header, section {
    height: 100vh;
    width: 100vw;
}
/* HEADER */
#jumbotron3{
    border-left: orange 20px solid;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jumbotron{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EBEBEB;
    width: 60vw;
    padding: 2%;
    font-size: 1.75rem;
    font-family: 'Amatic SC', cursive;
}

.jumbotron h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    
}
.jumbotron h3{
margin-top: 0;
}


.header-icons{
    margin-bottom: 1em;
}
.header-btns{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#about{
    background-color: #B6D4E7;
}
#projects{
    background-color: #5E99C5;
}
/* MAIN CONTENT */
main{
    position: relative;
}
/* NAV */
nav{
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    background-color: steelblue;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    z-index: 5;
}
nav p {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

/* ABOUT */
#about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-card {
    /* background-color: white; */
    width: 55vw;
    height: 50vh;
    position: relative;
}
.buttonContainer{
    display: flex;
    justify-content: flex-end;
    
}
.about-pic{
    width: 250px;
    height: 250px;
    position: absolute;
    transform: translateX(-50px);
    background-color: green;
    left: 0;
}
.tabContainer{
    width: 100%;
    height: 350px;
}
.tabContainer .buttonContainer{
    height: 15%;
    margin-right: 3em;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;

}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}