<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="./js/app.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://kit.fontawesome.com/d6e8b20b2b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="node_modules/aos/dist/aos.css" /> -->
    <title>Tyler Bertmore - Portfolio</title>
</head>
<body>
    <!--------------------------------------------------->
    <!--                     NAV                
    <--------------------------------------------------->
    
    <nav>
        <ul>
            <li><a class="nav-link" href="#about">About</a></li>
            <li><a class="nav-link" href="#projects">Projects</a></li>
            <li><a class="nav-link" href="#contact">Contact</a></li>
            <li><a class="nav-link" href="/resume" target="_blank">Resume</a></li>
        </ul>
    </nav>
    <!--------------------------------------------------->
    <!--                HEADER JUMBOTRON                
    <--------------------------------------------------->
    
    <header>
        <div class="jumbotron">
            <div data-aos-delay="500" data-aos="fade-in" data-aos-duration="1000" id="jumbotron-dropshadow"></div>
            <div class="jumbotron-top">  
            <div class="jumbotron-left">
            <div class="jumbotron-text">
                    <h1 data-aos="slide-down" data-aos-duration="1000"><span>T</span>yler <span>B</span>ertmore</h1>            
                    <div  class="jumbotron-fun-icons">
                        <i data-aos="fade-in" data-aos-delay="100" class="fas fa-laptop-code"></i>
                        <i data-aos="fade-in" data-aos-delay="300" class="fas fa-memory"></i>
                        <i data-aos="fade-in" data-aos-delay="600" class="fas fa-mouse"></i>
                        <i data-aos="fade-in" data-aos-delay="900" class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <h5 data-aos="slide-right" data-aos-duration="1250" >Full Stack Developer</h5>

                </div>
                
            </div>
            <div class="jumbotron-right">
                    <div class="header-icons">
                    <a data-aos="flip-up" data-aos-duration="1000" href="https://github.com/tylerbertmore"><i class="fab fa-github"></i></a>
                    <a data-aos="flip-down" data-aos-delay="900"  data-aos-duration="1000" href="https://www.linkedin.com/in/tylerbertmore/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>  
        <div class="jumbotron-bottom">
            <div class="header-btns">
                <a data-aos="fade-up" data-aos-duration="1000"  href="#about" class="resume-link">About <i class="far fa-user"></i></i></a>
                <a data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" href="#projects" class="projects-link">Projects <i class="fas fa-project-diagram"></i></a>
                <a data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" href="#contact" class="contact-link">Contact <i class="far fa-address-book"></i></a>
                <a data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900" href="./resume" class="resume-link">Resume <i class="far fa-file-alt"></i></a>
            </div>
        </div>


        </div>
    </header>

<main>
<!--------------------------------------------------->
<!--                     ABOUT                
<--------------------------------------------------->

        <section id="about">
            <div class="about-container">
                <h1 >Who am I ?</h1>
                <div data-aos="fade-in" data-aos-delay="200" class="content">
                  <p>My name is Tyler and I'm a former teacher turned Developer from Las Vegas, Nevada. I specialize in fullstack Javascript, but also have experience in Python. </p>
                  <div class="about-bottom">
                      <a data-aos="fade-up" data-aos-delay="400" href="/resume" target="_blank">My Resume <br> <i class="far fa-file-alt"></i></a>
                      <a data-aos="fade-up" data-aos-delay="500" href="#projects">My Projects <br> <i class="fas fa-project-diagram"></i></a>
        
                  </div>
                </div>
                <div data-aos="fade-in" data-aos-delay="300" class="img"><img src="./imgs/aboutme.jpg"/></div>
              </div>
        </section>
<!--------------------------------------------------->
<!--                   PROJECTS                
<--------------------------------------------------->

        <section id="projects">
            <div class="projects-grid">
                <div class="project-container-right">
                    <div class="project-left">
                        <div  class="sidebar-top"></div>
                        <div  class="sidebar-bottom"></div>
                    </div>
                    <div class="project-center wayfarer">
                        <img data-aos="fade-in" data-aos-delay="200" src="./imgs/wayfarer.png" alt="Wayfarer Screenshot">

                        <div data-aos="fade-in" data-aos-delay="400" class="project-action">
                        <a href="https://wayfarer-kemt.herokuapp.com/" target="_blank">View Live Version</a>
                        <a href="https://github.com/tylerbertmore/wayfarer" target="_blank"><i class="fab fa-github"></i></a>

                        </div>
                    </div>
                    <div class="project-right">
                        <h2 data-aos="fade-in" data-aos-delay="500">Wayfarer</h2>
                        <p data-aos="fade-in" data-aos-delay="700">Wayfarer is a travel app where users can make posts about destinations around the world. Users can create new posts and comment on others. Full CRUD on Users, Posts, and Comments</p>                       
                        
                        <h4 data-aos="fade-in" data-aos-delay="500">Built With:</h4>
                        <ul data-aos="fade-up" data-aos-delay="500" class="project-lang">
                            <li>Python</li>
                            <li>Django</li>
                            <li>PostgreSQL</li>
                            <li>Materialize</li>
                            <li>Javascript</li>
                            <li>jQuery</li>

                        </ul>
                        <h4></h4>
                        <div class="mobile-action">
                            <a data-aos="fade-down" href="https://wayfarer-kemt.herokuapp.com/" target="_blank">View Live Version</a>
                        <a data-aos="fade-up" href="https://github.com/tylerbertmore/wayfarer" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="project-container-left">
                    <div class="project-left">
                        <div class="sidebar-top"></div>
                        <div   class="sidebar-bottom"></div>
                    </div>
                    <div class="project-center helpdesk">
                        <img data-aos="fade-in" data-aos-delay="200" src="./imgs/helpdesk.png" alt="Help Desk Screenshot">
                        <div data-aos="fade-in" data-aos-delay="400" class="project-action">
                            <a href="https://helpdesk-tb.herokuapp.com/" target="_blank">View Live Version</a>
                            <a href="https://github.com/tylerbertmore/superhelpdesk" target="_blank"><i class="fab fa-github"></i></a>
                            
                            </div>
                    </div>
                    <div class="project-right ">
                        <h2 data-aos="fade-in" data-aos-delay="500">Help Desk</h2>
                        <p data-aos="fade-in" data-aos-delay="700">An IT Ticketing system. Users can freely signup as a "Tech" or "Admin", and each role has specific functionality to mimic real IT software. Complete Authorization and Authentication using Passport and helpful error messages with connect-flash</p>                       
                        
                        <h4 data-aos="fade-in" data-aos-delay="500">Built With:</h4>
                        <ul data-aos="fade-up" data-aos-delay="500" class="project-lang">
                            <li>Javascript</li>
                            <li>MongoDB</li>
                            <li>Express</li>
                            <li>Node</li>
                            <li>Passport</li>
                            <li>Bootstrap</li>

                        </ul>
                        <h4></h4>
                        <div class="mobile-action">
                            <a data-aos="fade-down" href="https://helpdesk-tb.herokuapp.com/" target="_blank">View Live Version</a>
                            <a data-aos="fade-up" href="https://github.com/tylerbertmore/superhelpdesk" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="project-container-right">
                    <div class="project-left">
                        <div class="sidebar-top"></div>
                        <div class="sidebar-bottom"></div>
                    </div>
                    <div class="project-center yurblegatchi">
                        <img data-aos="fade-in" data-aos-delay="200" src="./imgs/yurblegatchi.png" alt="Yurblegatchi Screenshot">
                        <div data-aos="fade-in" data-aos-delay="400" class="project-action">
                            <a href="https://tylerbertmore.github.io/yurblegatchi/" target="_blank">View Live Version</a>
                            <a href="https://github.com/tylerbertmore/yurblegatchi" target="_blank"><i class="fab fa-github"></i></a>
    
                            </div>
                    </div>
                    <div class="project-right">
                        <h2 data-aos="fade-in" data-aos-delay="500">Yurblegatchi</h2>
                        <p data-aos="fade-in" data-aos-delay="700">A clone of the hit 90's game 'Tomagatchi'. Uses vanilla Javascript, HTML, CSS and artwork from Neopets.com <br> <br>
                        *Hint* Type cheatMenu=true in the console and click the dot in the bottom left corner to activate a secret cheat menu!</p>                       
                        
                        <h4 data-aos="fade-in" data-aos-delay="500">Built With:</h4>
                        <ul data-aos="fade-up" data-aos-delay="500" class="project-lang">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>


                        </ul>
                        <h4></h4>
                        <div class="mobile-action">
                            <a data-aos="fade-down" href="https://tylerbertmore.github.io/yurblegatchi/" target="_blank">View Live Version</a>
                            <a data-aos="fade-up" href="https://github.com/tylerbertmore/yurblegatchi" target="_blank"><i class="fab fa-github"></i></a>
                      </div>

                    </div>
                </div>

            </div>
        </section>
<!--------------------------------------------------->
<!--                 CONTACT                
<--------------------------------------------------->

        <section id="contact">
            <h2>Contact Me</h2>
            <div class="contact-container">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>
                                <a href="https://www.linkedin.com/in/tylerbertmore/" target="_blank">tylerbertmore</a>
                            </h3>
                            <p>Make a connection with me on LinkedIn</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <i class="fas fa-mail-bulk" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>
                                <a class="copyClipboard">tylerbertmore@gmail.com</a>
                            </h3>
                            <p>This is the easiest way to contact me.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-github-square" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <h3>
                                <a href="https://github.com/tylerbertmore" target="_blank">tylerbertmore</a>
                            </h3>
                            <p>Most of my work can be found on GitHub.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>

<!--------------------------------------------------->
<!--                     FOOTER                
<--------------------------------------------------->

<footer>
    <p><i class="far fa-copyright"></i> Copyright Tyler Bertmore 2020</p>
</footer>

<!--------------------------------------------------->
<!--                     SCRIPTS                
<--------------------------------------------------->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- <script src="node_modules/aos/dist/aos.js"></script>  -->
<script>
  AOS.init();
</script>
</body>
</html>